@import "tailwindcss";

@theme {
  --font-family: "Jost", sans-serif;
  --second-family: "Amatic SC", sans-serif;
}
html {
  scrollbar-gutter: stable;
}
body {
  width: 100vw;
  overflow-x: hidden !important;
}


.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #46a35820 transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #46a358;
}

.order-track-scroll {
  overflow-x: scroll !important;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #46a358 #f1f1f1;
}

.order-track-scroll::-webkit-scrollbar {
  height: 10px;
  display: block !important;
}

.order-track-scroll::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

.order-track-scroll::-webkit-scrollbar-thumb {
  background-color: #46a358 !important;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.order-track-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #357c44 !important;
}
